.internal {
    border: 1px solid black;
    background: slategrey;
    padding: 10px;
    min-width: 30vw;
    max-width: 60vw;
    min-height: 60vh;
    max-height: 85vh;
    overflow: auto;
}

.internal-buttons button {
    margin: 10px;
}