.listed-survey {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    padding: 5px;
}

.listed-survey button {
    margin: 5px;
}

.listed-survey-info {

}