.data-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.data-form input {
    padding: 5px;
    margin: 5px;
}
.new-subcategory {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}